*.mak
*.mak.vpc_crc
*.vpc_crc
*.vpc.*
*.project
*obj_*
.waf*
.waf3-*/
.lock-waf*
__pycache__
*.pyc
.vs/
Debug/
Debug_*/
Release/
Release_*/
*.tlog/
*.obj
*.pch
*.log
*.tlo
*.la
*.lo
*.dep
*.idb
*.pdb
*.rc
*.bin
*.lib
*.exp
*.ilk
*.dll*
*.vcxproj*
*.sln
*.dylib
*.dylib.dSYM/
*.so
*.snap
*.a
ValveETWProviderEvents.h
game/client/*/client.lib
game/server/*/server.lib
.DS_Store
build*/
.cache/
.ccache/
waf3*/
.vscode/
.depproj/
source-engine.sln

# vim / CLion
*.swp
*.swo
.idea/
*.iml
CMakeLists.txt.user

# xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/

# waf / build helpers
compile_commands.json
config.log